/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/.idea/
/telegrama.iml
/.clj-kondo/.cache/
/.clj-kondo/imports/
/.lsp/.cache/
test/integration/integration/lab.clj
